<div class="container-fluid">
  <div class="row g-0">
    <div
      class="col d-flex justify-content-center align-items-center px-5"
      id="rec-1"
    >
      <img
        class="img-fluid"
        id="img_logo"
        src="../../../assets/img/markat.jpg"
        alt="logo"
      />
    </div>

    <div class="col px-5" id="rec-2">
      <br /><br /><br />

      <div class="px-5">
        <h2 class="text-left py-5">Recuperar mi contraseña</h2>

        <div class="row-fluid">
          <div
            class="col-md-0 mt-0 py-5 text-left"
          >
            <form>
              <h5 class="font-300 py-0">Ingresé el código</h5>
              <br />
              <br />
              

              <div class="d-flex justify-content-center">
                <div>
                  <input type="number" class="codigo me-2" />
                  <input type="number" class="codigo me-2" />
                  <input type="number" class="codigo me-2" />
                </div>
              </div>
              <br />
              <br />
              <div class="text-center">
    
                <button
                  mat-raised-button
                  routerLink="/reset-pw"
                  class="font-lighter w-25"
                >
                  Ingresar
                </button>
              </div>
            </form>
            <br />
           
          </div>
        </div>
        <br /><br /><br /><br />
        <br /><br />
        <div class="row lign-items-end">
          <div class="col">
            <p class="d-inline-block mb-0 text-primary font-300">
              ¿No tienes una cuenta?
            </p>
            <a
              class="font-weight-bold text-decoration-none font-700"
              routerLink="/register"
            >
              Registrarse</a
            >
          </div>
          <div class="py-2 mb-0">
            <p class="d-inline-block mb-0 font-300 text-primary">
              ¿Tienes una cuenta?
            </p>
            <a
              class="font-weight-bold text-decoration-none font-700"
              routerLink="/login"
            >
              Identificarse</a
            >
          </div>

          <div class="py-2 mb-0">
            <p class="d-inline-block mb-0 font-300 text-secondary">
              © copyright 2022 | Todos los derechos reservados por Markat, Inc.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
