<div class="container-fluid">
    <div class="row g-0">
      <div
        class="col d-flex justify-content-center align-items-center px-5"
        id="rec-1"
      >
        <img
          class="img-fluid"
          id="img_logo"
          src="../../../assets/img/markat.jpg"
          alt="logo"
        />
      </div>
  
      <div class="col px-5" id="rec-2">
        <br />
        <br /><br /><br /><br />
        <br />
        <br />
        <div class="px-5">
          <h2 class="text-left py-5">Recuperar mi contraseña</h2>
  
          <form>
            <mat-form-field appearance="standard" class="w-50 mb-0">
              <mat-label class="font-lighter">Correo electrónico</mat-label>
              <input matInput placeholder="Ingrese su correo" />
            </mat-form-field>
            <br />  <br />
            <div class="text-end w-50">
              <button
                mat-raised-button
                id="btn-ingresar"
                routerLink="/home"
                class="font-lighter w-50" 
                routerLink="/recover-code"
              >
                Enviar correo
              </button>
            </div>
          </form>
          <br /><br /><br /><br />
          <br /><br /><br /><br />
          <br /><br /><br /><br />
          <br /><br /><br />
          <div class="row">
            <div class="col">
              <p class="d-inline-block mb-0 text-primary font-300">
                ¿No tienes una cuenta?
              </p>
              <a
                class="font-weight-bold text-decoration-none font-700"
                routerLink="/register"
              >
                Registrarse</a
              >
            </div>
            <div class="py-2 mb-0">
              <p class="d-inline-block mb-0 font-300 text-primary">
                ¿Tienes una cuenta?
              </p>
              <a
                class="font-weight-bold text-decoration-none font-700"
                routerLink="/login"
              >
                Identificarse</a
              >
            </div>
  
            <div class="py-2 mb-0">
              <p class="d-inline-block mb-0 font-300 text-secondary">
                © copyright 2022 | Todos los derechos reservados por Markat, Inc.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  