<nav class="navbar navbar-expand-lg menu-fixed bg fs-6">
    <div class="container">
        <a class="navbar-brand font-700 text-white" routerLink="/dashboard"> <img src="../../../assets/img/markat-logo.svg" alt="logo" class="logo"> Markat</a>
        
        <button class="navbar-toggler btn-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
  
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active btn enlace_l" href="#home">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active btn enlace_l" href="#about">¿Qué es Markat?</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active btn enlace_l" href="#beneficios">Beneficios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active btn enlace_l"  href="#contact">Contactanos</a>
                </li>
            </ul>
            <span class="nav-item text-center">
                <a class="nav-link active btn_ enlace" routerLink="/login">Identificarse</a>
            </span>
        </div>
    </div>
  </nav>
