<div class="wrapper">
	<div class="invoice_wrapper">
		<div class="header">
			<div class="logo_invoice_wrap">
				<div class="logo_sec">
					<img id="logo"src="../assets/markat-bw.png" alt="code logo">
					<br>
					<span class="title_wrap">
						<p class="title bold">Markat</p>
						<p class="sub_title">Inc.</p>
					</span>
					<br>
				</div>
				<div class="invoice_sec">
					<h6> RUC: {{sale.store.noRuc}}190</h6>
					<p class="invoice-bold">BOLETA DE VENTA ELECTRÓNICA
					</p>
					<br>
					<p class="invoice_no">
						<span class="bold">Código: </span>
						<span>#A03{{sale.noVoucher}}2311</span>
					</p>
					<p class="date">
						<span class="bold">Fecha</span>
						<span>{{sale.dateSale|date:'shortDate'}}</span>
					</p>
				</div>

			</div>
			<div class="">
				<span id="nombre-tienda">  Tienda: {{sale.store.storeName}}</span><br>
				<span id="datos-sec">  Dirección: {{sale.store.city}}</span><br>
				<span id="datos-sec">  N° Telefono: +51 {{sale.store.noPhone}}</span><br>
				<span id="datos-sec">  Vendedor: {{sale.store.ownerName}} {{sale.store.ownerLastName}} </span>
			</div>
			<div class="bill_total_wrap">
				<div class="bill_sec">
					<p>Cliente</p> 
	          		<p class="bold name">{{sale.client.firstName}} {{sale.client.lastName}}</p>
					<p class="datos-sec">DNI: {{sale.client.dni}}</p>
				</div>
				<div class="total_wrap">
					<p>Total</p>
	          		<p class="bold price">S/. {{sale.totalPrice}}</p>
				</div>
			</div>
		</div>
		<div class="body">
			<div class="main_table">
				<table class="table text-center">
					<thead>
						<tr>
							<td>Item</td>
							<td>Descripción del producto</td>
							<td>Cantidad</td>
							<td>Precio unitario</td>
							<td>Importe</td>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let item of sale.saleDetails ; let i=index ">
							<td>{{i+1}}</td>
							<td>{{item.product.productName}}</td>
							<td>{{item.noUnits}}</td>
							<td>{{item.priceUnit|currency:'S/ '}}</td>
							<td>{{item.subtotalPrice |currency:'S/ '}}</td>
						</tr>
					</tbody>
				</table>
			</div>
			<br>
			<div class="d-flex justify-content-between">
				<div><span></span><span class="fw-light">- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</span></div>
				<div><span class="">Importe total: </span> <span class="fs-5">S/. {{sale.totalPrice}}</span></div>
			</div>
		</div>
	</div>
</div>
